.get-buttons{
    width: 100%;
    background-color:#1DA1F2;
    color: white;
    border-radius: 35%;
    padding: 0.5em;
    font-weight: bolder;
}

#search-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#search-button, #search-bar{
    background-color: #E1E8ED;
    color:	#AAB8C2
}


.get-buttons:hover{
    background-color: #0394ee;
}

#search-bar, #search-button{
    border: transparent
}

@media screen and (max-width: 768px) {
    .get-buttons, #search-form{
        margin: 0 0 1em 0;
        padding: 0.5em;
    }

}