.profile-photo{
    width:10%;
    height: 100%;
    margin: 5% 0 0 2%;
    border-radius: 50%;
}

.tweet > .card{
    display:flex;
    flex-direction: row;
    font-size: 0.8em;
}

.tweet-header{
    display: flex;
    flex-direction: row;
}
.card-title{
    font-size: 1em;
}

.tweet{
    margin: 0 0 2% 0;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
