.app-header{
    color:#1DA1F2;
    background-color: white;
}

.app-header > div{
    display: inline-block;
}
#logo-holder{
    width: 10%;
}
#the-rest{
    width: 90%;
}
#the-rest > .nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
a{
    border-radius: 50%;
}

.nav-item > .nav-link:hover{
    background-color:#a5cde663 ;
}


